:root{

    --primary:#6366F1;

    --secondary:#38BDF8;

    --accent:#8B5CF6;

    --background:#030712;

    --surface:#111827;

    --surface-light:#1F2937;

    --text:#F8FAFC;

    --text-light:#CBD5E1;

    --border:#374151;

    --radius:16px;

}